Source: szn-picturedetector-rpc
Section: picturedetector/Seznam
Priority: optional
Maintainer: Petr Bartunek <petr.bartunek@firma.seznam.cz>
Build-Depends: szn-debhelper, libfastrpc-dev, szn-metaserver-dev, szn-metaserver-cpp-fastrpc5-dev, libcfgparser-dev, libdbglog-dev, libmysqlclient-dev, szn-libsqlwrapper18-dev
Standards-Version: 3.7.2.2

Package: szn-picturedetector-rpc
Architecture: any
Section: picturedetector/Seznam
Depends: ${shlibs:Depends}, ${misc:Depends}, szn-logy, szn-metaserver-cpp-fastrpc5, szn-metaserver, libmysqlclient18, libcfgparser0, libdbglog0, szn-libsqlwrapper18
Description: Bootstrapped package rpc
 This is a newly bootstrapped package for rpc.
 .
 If this description appears in repository, something went wrong. Please
 contact the package's maintainer.

