Source: szn-picturedetector-daemon
Section: picturedetector/Seznam
Priority: optional
Maintainer: Petr Bartunek <petr.bartunek@firma.seznam.cz>
Build-Depends: szn-debhelper
Standards-Version: 3.7.2.2

Package: szn-picturedetector-daemon
Architecture: all
Section: picturedetector/Seznam
Depends: ${shlibs:Depends}, ${misc:Depends}, szn-logy, python-dbglog, szn-python-utils, szn-python-mysqldbwrapper
Description: Bootstrapped package szn-picturedetector-daemon
 This is a newly bootstrapped package for picturedetector-daemon.
 .
 If this description appears in repository, something went wrong. Please
 contact the package's maintainer.
